name: Java CI

on:
  push:
    branches:
      - master
      - development
      - release
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: '18' # Укажите вашу версию JDK
        distribution: 'temurin'

    - name: Build with Maven
      run: mvn clean install

    - name: Run tests
      run: mvn test

    - name: Generate Javadoc
      run: |
        mkdir -p docs
        javadoc -d docs
